@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Lato&display=swap');

/*  ------------- General ---------------- */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'judson', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
}


/*  ------------- Game Styles ---------------- */

.game-container {
    height: 80vh;
    width: 100%;
    border: 1px solid;
}

.game-row {
    height: 25%;
}

.game-col {
    
}

.game-card-style {
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: grey;  
}

.game-card-back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/skulls2_faded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px red solid;
}