@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Lato&display=swap');

/*  ------------- General ---------------- */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'judson', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(../images/ufo.jpg);
    
}

.container {
    background-color: white;
}

.break {
    height: 1.75rem;
}

/*  ------------- Colors ---------------- */


/*  ------------- Header ---------------- */

header {
    margin-bottom: 30px;
}


/*  ------------- Hero Image ---------------- */

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 10px 10px;
    box-shadow: -3px 3px 5px 6px black;
    
}

.hero-container {
    margin-top: 85px;
    padding: 0;
}



/*  ------------- Game Intro ---------------- */

.container-game-intro {
    margin-top: 85px;
}

.stars {
    text-align: center;
}

.star-active {
    color: #cccc00;
}

.attempt-counter {
    color: red;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/*  ------------- Game Styles ---------------- */

.game-container {
    height: 80vh;
    width: 100%;
    border: 1px solid;
}

.game-row {
    height: 25%;
}

.game-col {
    
}

.game-card-style {
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: grey; 
    transition: transform 0.8s;
    transform-style: preserve-3d ;
}

.game-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/skulls2_faded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px red solid;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}

.game-card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/soldier-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px red solid;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
    transform: rotateY(180deg)
}

/*  ------------- Game Card Flip ---------------- */

.game-card:active .game-card-style {
    transform:  rotateY(180deg)
}