@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Lato&display=swap');

/*  ------------- General ---------------- */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'judson', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(../images/ufo.jpg);
    
}

.container {
    background-color: rgba(245, 245, 245);
}

.footer{
    background-color: #343434;
    color: white;
}

.break {
    height: 1.75rem;
}

.hidden {
    display: none;
}

.button-style {
    height: 3rem;
    width: 12rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    border: 0.1rem #10b3d8 solid;
    border-radius: 0px 10px;
    background-color: #343a40;
}

/*  ------------- Colors ---------------- */


/*  ------------- Header ---------------- */

header {
    margin-bottom: 3px;
}


/*  ------------- Hero Image ---------------- */

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 10px 10px;
    box-shadow: -3px 3px 5px 6px black;
    
}

.hero-container {
    margin-top: 85px;
    padding: 0;
}



/*  ------------- Game Intro ---------------- */

.container-game-intro {
    margin-top: 85px;
}

.star-button-style {
    border: 0px;
    background-color: rgb(245,245,245); 
}

.stars {
    text-align: center;
}

.star-active {
    color: #cccc00;
}

.attempt-counter {
    color: red;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/*  ------------- Game Styles ---------------- */

.game-container {
    background-color: rgba(245, 245, 245, 0.5) ;
    height: 80vh;
    width: 100%;
    border: 1px solid;
}


.game-start {
    justify-content: center;
    margin: auto;
    text-align: center;
}

.game-row {
    height: 25%;
}

.game-col {
    
}

.game-card-style {
    margin: auto;
    height: 95%;
    width: 95%;
    background-color: #343a40;
    border-radius: 10px 10px;
    transform-style: preserve-3d ;
    transition: 0.8s;
    transform: scale(1);
    
}

/*.game-card-style:active {
    transform: scale(.97);
    transition: .8s;
}*/

.game-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/skulls2_faded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.2rem #10b3d8 solid;
    border-radius: 10px 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}

.game-card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.2rem #10b3d8 solid;
    border-radius: 10px 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    
}

.game-card-matched {

}

/*  ------------- Soldier/Alien ---------------- */

.soldierA, .soldierB, .soldierC, .soldierD, .soldierE, .soldierF, .soldierG {
    background-color: #3a8238;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.soldierA {
    background-image: url(../images/soldier-1.png);
    
}

.soldierB {
    background-image: url(../images/soldier-2.png);
}

.soldierC {
    background-image: url(../images/soldier-3.png);

}

.soldierD {
    background-image: url(../images/soldier-4.png);

}

.soldierE {
    background-image: url(../images/soldier-5.png);

}

.soldierF {
    background-image: url(../images/soldier-6.png);

}

.soldierG {
    background-image: url(../images/soldier-7.png);

}

.muton, .chryssalid, .sectoid {
    background-color: #b32121;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.muton {
    background-image: url(../images/muton.png); 
}

.chryssalid {
    background-image: url(../images/chryssalid.png);  
}

.sectoid {
    background-image: url(../images/sectoid.png);
}

/*  ------------- Game Card Flip ---------------- */

.flip {
    transform:  rotateY(180deg)
}

/*  ------------- Reset Button ---------------- */

.reset-container-style {
    background: transparent;
}

.reset-button-col {
    text-align: center;
}

/*  ------------- Timers ---------------- */

#timer, #best-time {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}